@font-face {
    font-family: 'CatchyMager';
    src: url("font/CatchyMager-Normal.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    font-family: CatchyMarger, Arial, sans-serif;
    background-color: #29304d;
}

.pagestart{
    padding-top: 4%;
}

.heading{
    font-size: 3em;
    font-family: 'CatchyMarger', Arial, sans-serif;
    margin-bottom: 50px;
    color: rgba(24, 24, 160, 0.829);
    position: absolute;
    top: 30%; /* Vertically center the text */
    left: 50%; /* Horizontally center the text */
    transform: translate(-50%, -50%); /* Center the text precisely */
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.0); /* Semi-transparent background */
    padding: 10px; /* Add some padding around the text */
    
}
h5{
    text-align: center;
    font-family: 'CatchyMarger', Arial, sans-serif;
    margin-bottom: 50px;
    color: #5a3728;
}
.para{
    padding-left: 2%;
    color:aliceblue;
    font-size: x-large;
    margin: 0;
    margin-right: 50%;
    margin-top: -25%;
    font-family: 'CatchyMarger', Arial, sans-serif;
}

li{
    height: 70px;
}

pre{
    color: #666;
    font-size: x-large;
    margin-right: 50%;
    font-family: 'CatchyMarger', Arial, sans-serif;
}

.img{
    margin-left: 55%;
}

.payment{
    margin-top: -5%;
    padding-left: 2%;
    margin-bottom: -20px;
    color: aliceblue;
}

.paybutton{
    display: flex;
    align-items: center;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    padding: 0.7em 1.4em 0.7em 1.1em;
    color: white;
    background: #ad5389;
    background: linear-gradient(0deg, rgba(20,167,62,1) 0%, rgba(102,247,113,1) 100%);
    border: none;
    box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
    letter-spacing: 0.05em;
    border-radius: 20em;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-88:hover {
    box-shadow: 0 0.5em 1.5em -0.5em #14a73e98;
  }
  
  .button-88:active {
    box-shadow: 0 0.3em 1em -0.5em #14a73e98;
  }

